@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$distance: 100px;
$padding: 20px;
$bodyBackground: #296ca8;
$postBackground: #4992d3;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: $bodyBackground;
  margin: 0;
  padding-bottom: $distance;
  min-height: $distance;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

.filterContainer {
  margin-top: $padding;
  min-width: 80%;
  .filter {
    width: 100%;
    padding: $padding;
  }
}

.post {
  position: relative;
  background: $postBackground;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  padding: $padding;
  margin: 30px;
  border-radius: 10px;
  min-width: 80%;
  width: 80vw;
  .postInfo {
    margin-left: $padding;
  }
  .postTitle {
    margin: 0;
  }
  .postBody {
    color: #fff;
  }
  .number {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    color: #296ca8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
  &.show {
    opacity: 1;
  }
  .circle {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
    &:nth-of-type(2) {
      animation-delay: 0.1s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.2s;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
