body {
  position: relative;
  box-sizing: border-box;
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

// 整個 swiper 設定
.swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  .swiper-slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .bannerTitle {
      font-size: 56px;
      @media (max-width: 768px) {
        font-size: 36px;
        align-items: start;
      }
    }
    .bannerInfo {
      font-size: 18px;
    }
  }
  .banner1 {
    background-image: url('../images/banner/banner1.jpg');
  }
  .banner2 {
    background-image: url('../images/banner/banner2.jpg');
  }
  .banner3 {
    background-image: url('../images/banner/banner3.jpg');
  }
  .banner4 {
    background-image: url('../images/banner/banner4.jpg');
  }
  .banner5 {
    background-image: url('../images/banner/banner5.jpg');
  }
  .banner6 {
    background-image: url('../images/banner/banner6.jpg');
  }
  .banner7 {
    background-image: url('../images/banner/banner7.jpg');
  }
  .banner8 {
    background-image: url('../images/banner/banner8.jpg');
  }
  .banner9 {
    background-image: url('../images/banner/banner9.jpg');
  }
  .banner10 {
    background-image: url('../images/banner/banner10.jpg');
  }
}

// swiper 大圖設定
.gallery-top {
  width: 100%;
  height: 450px;
}

// swiper 小圖設定
.gallery-thumbs {
  height: 15vh;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

// 顯示當前 swiper 的小圖才會亮，其他暗色
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

// 首頁 logo
.logo {
  height: 70px;
}

.favorite {
  font-size: 20px;
}

// 右上角購物車
.btnCart {
  position: relative;
  .cartTable {
    z-index: 1;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
.dropdownMenu {
  min-width: 300px;

  // 強制顯示左邊
  right: 0;
  left: auto;
}

// 類型選單
.listMenu {
  top: 120px;
  .videoIcon {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

// footer
.footer {
  font-size: 20px;
  background: #1e1e1e;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

// 更改類型選單的字體樣式
.menuText {
  font-size: 20px;
  font-weight: 600;
}

// 卡片
.cardTitle {
  position: relative;
  overflow: hidden;
  .thumbnail {
    overflow: hidden;
    img {
      transform: scale(1, 1);
      transition: 0.5s;
    }
    img:hover {
      transform: scale(1.1, 1.1);
    }
  }
}

// 卡片標籤
.type {
  z-index: 1;
  font-weight: 700;
  padding: 5px;
  width: 120px;
  left: -30px;
  top: 10px;
  text-align: center;
  position: absolute;
  background: #ee5a24;
  transform: rotate(-45deg);
  font-size: 18px;
}
.mobileMenu {
  position: fixed;
  bottom: 0;
  display: none;
  @media (max-width: 768px) {
    display: block;
    z-index: 2;
  }
}

.movie {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
}

.movie1 {
  background-image: url('../images/movie1.jpg');
}
.movie2 {
  background-image: url('../images/movie2.jpg');
}
.movie3 {
  background-image: url('../images/movie3.jpg');
}
.movie4 {
  background-image: url('../images/movie4.jpg');
}
.movie5 {
  background-image: url('../images/movie5.jpg');
}
.movie6 {
  background-image: url('../images/movie6.jpg');
}
.movie7 {
  background-image: url('../images/movie7.jpg');
}
.movie8 {
  background-image: url('../images/movie8.jpg');
}
.movie9 {
  background-image: url('../images/movie9.jpg');
}
.movie10 {
  background-image: url('../images/movie10.jpg');
}

.movieInfo {
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.mobile {
  @media (max-width: 768px) {
    display: none;
  }
}
