body {
  position: relative;
  box-sizing: border-box;
  background: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

// 首頁 logo
.logo {
  height: 70px;
}

.favorite {
  font-size: 20px;
}

// 右上角購物車
.btnCart {
  position: relative;
  .cartTable {
    z-index: 1;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
.dropdownMenu {
  min-width: 300px;

  // 強制顯示左邊
  right: 0;
  left: auto;
}

// 手機板固定在下方的選單
.mobileMenu {
  position: fixed;
  bottom: 0;
  display: none;
  @media (max-width: 768px) {
    display: block;
    z-index: 2;
  }
}

.movieInfo {
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.mobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.priceMovie {
  img {
    height: 150px;
  }
}
